body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:867px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
}
#u1 {
  position:absolute;
  left:2px;
  top:216px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
  overflow:hidden;
  touch-action:none;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:30px;
  top:7px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:90px;
  top:7px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:150px;
  top:7px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:210px;
  top:7px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:30px;
  top:67px;
  width:50px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:67px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:67px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:210px;
  top:67px;
  width:50px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:127px;
  width:50px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:90px;
  top:127px;
  width:50px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:150px;
  top:127px;
  width:50px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:210px;
  top:127px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:187px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:90px;
  top:187px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:150px;
  top:187px;
  width:50px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:210px;
  top:187px;
  width:50px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:289px;
  top:0px;
  width:289px;
  height:447px;
  overflow:hidden;
  touch-action:none;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:30px;
  top:7px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:90px;
  top:7px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:150px;
  top:7px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:210px;
  top:7px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:67px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:90px;
  top:67px;
  width:50px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:150px;
  top:67px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:210px;
  top:67px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:578px;
  top:0px;
  width:289px;
  height:447px;
  overflow:hidden;
  touch-action:none;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:30px;
  top:7px;
  width:50px;
  height:50px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:90px;
  top:7px;
  width:50px;
  height:50px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:150px;
  top:7px;
  width:50px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:210px;
  top:7px;
  width:50px;
  height:50px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:67px;
  width:50px;
  height:50px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:90px;
  top:67px;
  width:50px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:150px;
  top:67px;
  width:50px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:210px;
  top:67px;
  width:50px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:30px;
  top:127px;
  width:50px;
  height:50px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:90px;
  top:127px;
  width:50px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:150px;
  top:127px;
  width:50px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:210px;
  top:127px;
  width:50px;
  height:50px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:30px;
  top:187px;
  width:50px;
  height:50px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u78 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:90px;
  top:187px;
  width:50px;
  height:50px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:150px;
  top:187px;
  width:50px;
  height:50px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:210px;
  top:187px;
  width:50px;
  height:50px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u84 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:30px;
  top:247px;
  width:50px;
  height:50px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:90px;
  top:247px;
  width:50px;
  height:50px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u88 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:150px;
  top:247px;
  width:50px;
  height:50px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:210px;
  top:247px;
  width:50px;
  height:50px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
